select {
    margin: 0 auto;
    width: 500px;
    height: 25px;
  
  }

.fees-form{
    display: flex;
    margin-top: 4%;
    justify-content: center;
    align-items:center;

}
.fees-form>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:50px 170px 170px;
    border-radius: 1rem;
    
   
}
